name: Multi-OS Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
    
    - name: Install Linux Dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libsoup-3.0-dev libgtk-4-dev libadwaita-1-dev
        
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: jobseeker-${{ matrix.os }}
        path: |
          target/release/jobseeker
          target/release/jobseeker.exe